body{
	background-image: url(images/2.jpg);
	background-position: cover;
}


.container{
	padding: 5px;
	
	border-collapse: collapse;
	border: 5px  solid white;

}

form{
	color: white;
	font-family: sans-serif;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

a:hover{
	color:orange;
	cursor: pointer;
	border-bottom: 1px solid orange;

}